.grid {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  height: 360px;
}

.row {
  display: flex;
}

.col {
  display: flex;
  flex-wrap: wrap;
  width: 40px;
  height: 40px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(211, 211, 211);
}

.hit {
  background-color: rgb(255, 0, 0);
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.shipcontainer, .shotcontainer {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.shipgrid,
.shotgrid {
  margin: 0 20px;
}
